<div class="breadcrumbs-wrapper">
  {% assign t = template %}
  <div class="breadcrumb">
    <a href="{{ routes.root_url }}">Home</a>
    <span>&gt;</span>
    {% case t %}
      {% when t = 'collection' %}
        <span>{{ collection.title }}</span>
      {% when t = 'page' %}
        <span>{{ page.title }}</span>
      {% when t = 'product' %}
        <span>{{ product.title }}</span>
    {% endcase %}
  </div>
</div>
